<h1>{{title}}</h1>
<p>Bienvenidos {{title}}</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id necessitatibus laudantium culpa aliquam. Numquam
    voluptatum et id cum delectus, repudiandae doloremque repellendus veritatis ipsam. Possimus totam ex omnis dolore
    ipsa!</p>
<h2>complete el formulario</h2> 
<form action="">
    <input type="text" placeholder="Nombre completo">
</form>
