
h1 {
color:black; /*color de la fuente*/
background-color: chocolate; /*fondo*/
text-align:center; /*alienacion*/
text-transform: uppercase; /*mayuscula*/
}
    
h2 {
    color: chocolate;
    font: size 40px; /*tamaño de fuente*/
    font-family: Arial;
    margin-left: 800px;
}
    

li{
    color:rgb(4, 4, 12)
}

p{
    color:silver
    font-weight: bold;
    font-style: italic;
    line-height: 25px; /*alto de linea*/

}

#Objetivos{
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
    box-shadow: -10px -10px 20px black;
    border-radius: 20px;
    border: 5px solid;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-left: 300px;
    border-style:hidden;
    margin: 100px
}

#texto {
    background-color: rgb(101, 105, 105);
    column-count: 1;
}
h2{
    color: rgb(34, 21, 12);
    font-family: font-family: 'Roboto', sans-serif;
}

.fa-bookmark {
    font-size: 30px;
    border-color: burlywood;
}

